@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter';
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 15em;
}

#mainRow {
    display: flex;
    flex-direction: row;
}

input {
    margin-bottom: 20px;
}

#switch_to_electric {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;

    margin-bottom: 0;
    height: 3rem;
    width: 3em;
    cursor: pointer;
    background-color: white;
    border: 2px solid;
    border-radius: 4px;

    transition: 0.2s;

    font-weight: bold;
    font-size: medium;
}

#switch_to_electric:disabled {
    cursor: not-allowed;
}

#button_car_engine_sound {
    width: 100%;
    height: 3em;
    background-color: green;
    color: white;
    border: chartreuse;
    border-radius: 4px;
    margin-bottom: 0;

    font-weight: bold;
    font-size: medium;

    cursor: pointer;
    transition: 0.2s;
}

#button_car_engine_sound:focus {
    outline: none;
}

#button_car_engine_sound:hover {
    background-color: rgb(0, 90, 3);
}

#button_car_engine_sound.running {
    background-color: rgb(214, 0, 0);
}

#button_car_engine_sound.running:hover {
    background-color: rgb(127, 0, 0);
}

#span_car_engine_rpm {
    font-size: xx-large;
    font-weight: bold;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-top: auto;
}